:root {
  --border-100: #e1e3e540;
  --border-200: #e1e3e51f;
  --surface-100: #292a2d;
  --surface-200: #292a2df2;
  --surface-300: #222326;
  --text-100: #e1e3e5;
  --text-200: #e1e3e5c6;
  --theme-100: #76c7cd;
  --theme-200: #76c7cd19;
  --theme-300: #d57c4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", system-ui, sans-serif;
  background: var(--surface-100);
  color: var(--text-100);
  user-select: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  block-size: 100vh;
  padding-block-end: 4em;
  padding-inline: 0.75em;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  z-index: -1;
}

header figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block-start: auto;
  margin-block-end: 2.5em;
}

header figure img {
  display: block;
  object-fit: cover;
}

figcaption {
  font-size: 1.375rem;
  font-weight: 300;
  font-variant: small-caps;
  color: var(--theme-300);
}

figcaption strong {
  font-weight: 600;
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-block-end: auto;
  max-inline-size: 300px;
  inline-size: 100%;
}

header a {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-100);
  block-size: 3em;
  border-radius: 2em;
  color: var(--text-100);
  background: var(--surface-200);
  transition: background-color 100ms linear;
}

header .flex a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

header a svg {
  block-size: 1em;
}

header a:last-of-type svg {
  block-size: 1.5em;
  fill: var(--theme-100);
}

header > svg {
  margin-block-end: 0.25em;
  opacity: 0.6;
}

header p {
  opacity: 0.6;
}

main {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  min-inline-size: 100%;
  background: var(--surface-200);
  border-bottom: 1px solid var(--border-100);
  z-index: 2;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  overflow-x: scroll;
  max-inline-size: 850px;
  inline-size: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline: 0.75em;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: var(--text-100);
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.875rem 0.25em;
  border-radius: 0.25em 0.25em 0 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  block-size: 0.1275em;
  inline-size: 100%;
  border-radius: 0.1875em 0.1875em 0 0;
  background: transparent;
}

nav ul li a.active::after {
  background: var(--theme-100);
}

nav ul li a.active {
  color: var(--theme-100);
}

section {
  inline-size: 100%;
  min-block-size: 100%;
}

article {
  display: block;
  position: relative;
  max-inline-size: 850px;
  inline-size: 100%;
  padding-inline: 0.75em;
  margin-inline: auto;
  margin-block-end: 1.5em;
}

article h2 {
  font-size: 1.375rem;
  font-weight: 450;
  padding-block-start: 0.75em;
}

article:first-of-type h2 {
  padding-block-start: 1.25em;
}

article > h3 {
  font-size: 0.925rem;
  font-weight: 400;
  color: var(--text-200);
  padding-block-start: 0.25em;
}

article ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding-block: 0.75em 2.5em;
  border-bottom: 1px solid var(--border-100);
}

article:last-of-type ul {
  border-bottom: none;
}

article ul li {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 0.325em;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
}

article ul li .item-image {
  display: block;
  aspect-ratio: 16 / 10;
  border-radius: 0.5em;
  position: relative;
  transition: border-radius 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

article ul li .item-image::before {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  transition: border-radius 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

article ul li .item-image img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  border-radius: inherit;
  transition: border-radius 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

article ul li:hover .item-image {
  border-radius: 1.5em;
}

article ul li:hover .item-image::before {
  border-radius: 1.5em;
}

article ul li:hover .item-image img {
  border-radius: 1.5em;
}

article ul li .item-details {
  display: block;
  padding: 0.125em;
}

article ul li .item-details h3 {
  font-size: 1.0875rem;
  font-weight: 450;
  margin-block-end: 0.125em;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

article ul li .item-details h4 {
  font-size: 1rem;
  font-weight: 600;
}

article ul li .item-details p {
  font-size: 0.925rem;
  color: var(--text-200);
  margin-block-end: 0.5em;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

article ul li.disabled {
  pointer-events: none;
}

article ul li.disabled .item-image::before {
  content: "Breakfast available on Saturdays only";
  font-size: 1.325rem;
  font-family: "Figtree", sans-serif;
  padding-inline: 2em;
  line-height: 1.4;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border-radius: inherit;
}

article ul li.disabled .item-details {
  opacity: 0.35;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 3em 1em;
  border-top: 1px solid var(--border-100);
}

footer > a:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a:first-of-type img {
  object-fit: cover;
}

footer > a:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > a:last-of-type span {
  color: var(--text-200);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Figtree", system-ui, sans-serif;
  font-weight: 500;
}

footer > a:last-of-type:hover span {
  text-decoration: underline;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
}

footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: 3.5em;
  block-size: 3.5em;
  border-radius: 50%;
  border: 1px solid var(--border-100);
  transition: background-color 100ms linear;
}

footer ul li a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

footer p {
  font-size: 0.825rem;
  font-weight: 400;
  color: var(--text-200);
  text-align: center;
}

dialog {
  position: fixed;
  inset: 0;
  padding-inline: 0.75em;
  box-sizing: border-box;
  block-size: 100%;
  max-block-size: none;
  inline-size: 100%;
  max-inline-size: none;
  margin: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  background-color: transparent;
  transition: opacity 0s ease 0s;
  will-change: opacity;
  display: none;
}

dialog::backdrop {
  display: none;
}

dialog.expanded {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

dialog .dialog-scrim {
  position: fixed;
  inset: 0px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  block-size: 100%;
  inline-size: 100%;
  pointer-events: inherit;
  visibility: visible;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  -webkit-tap-highlight-color: transparent;
}

dialog .dialog-scrim::after {
  content: "";
  display: block;
  block-size: 200%;
  inline-size: 200%;
}

dialog .dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-block-size: 95%;
  max-inline-size: 550px;
  inline-size: 100%;
  border-radius: 0.75em;
  flex-shrink: 1;
  transform: scale(1);
  transform-origin: center bottom;
  z-index: 3;
  background: var(--surface-100);
  will-change: display, transform;
}

dialog.expanded .dialog-content {
  animation-name: scaleUp;
  animation-duration: 0.15s;
}

dialog .dialog-content .dialog-header {
  display: flex;
  max-block-size: 100%;
  block-size: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 60%;
  border-radius: 0.75em 0.75em 0 0;
}

dialog .dialog-content .dialog-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 2.5em;
  inline-size: 2.5em;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 0.375em;
  right: 0.375em;
}

dialog .dialog-content .dialog-body {
  display: flex;
  flex-direction: column;
  block-size: fit-content;
  padding: 0.75em 0.75em 1.5em;
  border-radius: 0 0 0.75em 0.75em;
}

dialog .dialog-content .dialog-body h3 {
  font-size: 1.25rem;
  font-weight: 550;
  color: var(--text-100);
  margin-block-end: 0.5em;
}

dialog .dialog-content .dialog-body h4 {
  font-size: 1.1875rem;
  font-weight: 600;
  color: var(--text-100);
}

dialog .dialog-content .dialog-body h5 {
  font-size: 0.875rem;
  font-weight: 450;
  color: var(--theme-100);
  opacity: 0.9;
  text-transform: uppercase;
  padding-block-start: 0.25em;
  margin-block-end: 0.325em;
}

dialog .dialog-content .dialog-body p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-200);
  line-height: 1.5;
  margin-block-end: 0.5rem;
}

@media screen and (min-width: 768px) {
  article ul {
    grid-template-columns: repeat(2, 1fr);
  }

  article ul li .item-details h3 {
    font-size: 1.1875rem;
  }

  article ul li .item-details h4 {
    font-size: 1rem;
  }
  article ul li .item-details p {
    font-size: 0.975rem;
  }

  article ul li.disabled .item-image::before {
    padding-inline: 4em;
    font-size: 1.5rem;
  }

  dialog .dialog-content .dialog-body {
    padding: 1.25em;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
